<ion-header>
    <ion-navbar color="light">
        <ion-title>Item List</ion-title>
        <ion-buttons end>
            <button (click)="toggleSort()" ion-button clear small>{{sortBy}}↓</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of filteredItems" text-wrap (click)="viewItemDetail(item)">
            <ion-avatar *ngIf="item.thumbnail" item-left>
                <img src="{{item.thumbnail}}" />
            </ion-avatar>
            {{ item.name }}
            <ion-icon name="photos">{{item.aisle}}</ion-icon>
            <ion-icon name="basket">{{item.bin}}</ion-icon>
            <p>
                <ion-note style="font-size:0.8em;">{{item.notes}}</ion-note>
            </p>
        </ion-item>
    </ion-list>
</ion-content>
