<ion-header>
    <ion-navbar color="light">
        <ion-title start>Find Aisle n Bin</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-searchbar [showCancelButton]="true" [type]="search" (ionInput)="getFilteredItems($event)" placeholder="Find item..">
    </ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of filteredItems" text-wrap (click)="viewItemDetail(item)">
            <ion-avatar *ngIf="item.thumbnail" item-left>
                <img src="{{item.thumbnail}}" />
            </ion-avatar>
            <ion-note>
                {{ item.name }}
            </ion-note>
            <ion-icon name="barcode" item-right isActive="false">&nbsp;{{item.aisle}}</ion-icon>
            <ion-icon name="basket" item-right isActive="false">&nbsp;{{item.bin}}</ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
