<ion-header>
  <ion-navbar color="dark" >
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>

<!-- Padding attribute gives the ios-outline look -->
<ion-content>
  <ion-searchbar (ionInput)="getFilteredItems($event)" 
  placeholder="Find item.."></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let item of filteredItems" text-wrap>
   <ion-avatar *ngIf="item.thumbnail" item-left>
       <img src="{{item.thumbnail}}" />
   </ion-avatar>
 {{ item.name }}
  
   <ion-icon name="photos">{{item.aisle}}</ion-icon> 
      <ion-icon name="basket">{{item.bin}}</ion-icon>
      <p>
    <ion-note style="font-size:0.8em;">{{item.notes}}</ion-note>
     </p>
  </ion-item>
</ion-list>

<span *ngFor="let item of items | async">{{item.name}}, </span>
</ion-content>
